
.general-info {
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 900;
    color: var(--light-grey);
    margin-bottom: 40px;
}

.title-info {
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    color: var(--color-black-3);
}