@import './reset.css';
@import './variables.css';
@import './components.css';

/* header */

header {
    background-color: var(--background-header-color);
    padding: 22px 16px 30px;
}

header .page-header-content {
    display: flex;
    justify-content: space-between;
} 

header .logo {
    display: flex;
    align-items: center;
    gap: 30px;
}

header .logo p {
    font-family: 'Merriweather';
    color: var(--color-blue);
}

header .feedback-and-nav .feedback {
    display: flex;
    justify-content: space-around;
    gap: 40px;
    margin-bottom: 18px;
}

header .feedback-and-nav .feedback li {
    display: flex;
    align-items: center;
    gap: 15px;
}

header .feedback-and-nav .feedback li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
}

header .page-header-content .feedback-and-nav .feedback li .header-content-link:hover .info-text,
header .page-header-content .feedback-and-nav .feedback li .header-content-link:focus .info-text {
    color: var(--color-blue);
}

header .page-header-content .feedback-and-nav .feedback li .header-content-link:active .info-text {
    opacity: 0.7;
}

header .feedback-and-nav .feedback li a .info-text {
    font-family: 'Lato';
    font-size: 12px;
    font-weight: 400;
    color: var(--color-black);
}

header .feedback-and-nav nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

header .feedback-and-nav nav ul .header-nav-link {
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-black-2);
}

header .feedback-and-nav nav ul .header-nav-link:hover,
header .feedback-and-nav nav ul .header-nav-link:focus {
    color: var(--color-blue);
}

header .feedback-and-nav nav ul .header-nav-link:active {
    opacity: 0.7;

}

/* main */
/* title-page */

.title-page {
    background-image: url(../img/background.first.jpg);
    height: 670px;
}

.title-page .title-page-cover {
    display: flex;
    flex-direction: column;
    gap: 130px;
}

.title-page h1 {
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 700;
    color: var(--color-white);
    margin-top: 170px;
}

.title-page a {
    width: 288px;
    margin-bottom: 168px;
}

/* services */

.services {
    background-color: var(--color-white-2);
    padding: 140px 0 140px;
}

.services .services-title {
    display: flex;
    flex-direction: column;
}

.services ul {
    padding-top: 102px;
}

.services ul .slide-img {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* margin: -15px; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.services ul .slide-img li {
    background-image: url("../img/building.jpg");
    aspect-ratio: 1 / 1;
    /* width: 33.33%; */
    /* box-sizing: border-box; */
    /* padding: 15px; */
}

.services ul .slide-img li a {
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 32px;
}

.services ul .slide-img li a:hover {
    background-color: rgba(0, 95, 163, 0.5);
    backdrop-filter: brightness(2);
}

.services ul .slide-img li p {
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 900;
    color: var(--color-white);
}

/* about-us */

.about-us {
    background-color: var(--background-header-color);
    padding: 140px 0 140px;
    gap: 124px;
}

.about-us-wrapper {
    display: flex;
    gap: 64px;
}

.about-us .about-us-title h3 p {
    color: var(--color-blue);
}

.about-us .about-us-title .text {
    color: var(--color-black);
    font-family: 'Lato';
    line-height: 24px;
    font-size: 18px;
    font-weight: 300;
    margin: 60px 0 80px;
}

.about-us .about-us-list ul {
    padding-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.about-us .about-us-list ul .cases-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 1/1;
    background-color: var(--color-white-2);
    padding: 30px 40px;
    box-sizing: border-box;
    width: 255px;
    height: 255px;
}

.about-us .about-us-list ul .cases-info .number {
    color: var(--color-black);
    font-family: 'Lato';
    font-size: 55px;
    font-weight: 900;
    text-transform: uppercase;
}

.about-us .about-us-list ul .cases-info .finish-number {
    color: var(--color-black);
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 700;
}

.about-us .about-us-list ul .cases-info a {
    color: var(--color-blue);
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 700;
}

/* clients */

.clients {
    background-color: var(--color-white-2);
    padding: 86px 0 92px;
}

.clients .clients-title {
    display: flex;
    flex-direction: column;
}

.clients .clients-title .general-info {
    margin-bottom: 48px;
}

.clients .clients-title .title-info {
    margin-bottom: 42px;
}

.clients .clients-title .groups-png {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.clients .clients-title .groups-png ul {
    display: flex;
    gap: 30px;
}

/* reviews-title */

.reviews-title {
    background-color: var(--background-header-color);
    padding: 174px 0 120px;
}

.reviews-title .feedback .feedback-reviews {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}

.reviews-title .feedback .feedback-reviews button {
    width: 270px;
    height: 60px;
    font-size: 18px;
}

.reviews-title .slide-info {
    padding: 45px 95px;
    background-color: var(--color-white-2);
}

.reviews-title .slide-arrow button {
    /*background-color: var(--color-blue);*/
    padding: 22px;
    border: 0;
}

/* propose */

.propose {
    padding: 102px 74px;
    background-color: var(--color-white-2);
}

.propose .title-info {
    margin-bottom: 26px;
}

.propose ul {
    display: flex;
    gap: 26px;
}

.propose ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 80px 90px 36px;
    width: 168px;
    height: 200px;
}

.propose ul li img {
    width: 132px;
    height: 126px;
}

.propose ul li p {
    color: var(--color-black);
    font-family: 'Lato';
    font-size: 36px;
    font-weight: 700;
    line-height: 132%;
}

/* footer */
/* footer-info */

.footer-info {
    background-image: url(../img/background.last.jpg);
    padding: 122px 0 140px;
}

.feed-info {
    display: flex;
    justify-content: space-between;
}

.feed-info h4 {
    color: var(--color-white);
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    line-height: 144%;
    margin-bottom: 60px;
}

.feed-info p {
    color: var(--color-white);
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 300;
    line-height: 138%;
    margin-bottom: 76px;
} 

.feed-info .feedback {
    display: flex;
    gap: 32px;
}

.feed-info .feedback li {
    display: flex;
    gap: 10px;
}

.feed-info .feedback li .info-text {
    color: var(--color-white);
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 300;
    line-height: 138%;
    text-decoration: none;
}

.feedback-info form .form-contact-wrp {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.feedback-info form .form-contact-wrp label .input-label {
    display: block;
    color: var(--color-white);
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 138%;
    margin: 0 0 15px;
}

.feedback-info form .form-contact-wrp label input {
    width: 255px;
    padding: 4px 0 16px;
    border: none;
    border-bottom: 1px solid var(--color-white);
    background-color: transparent;
    color: var(--light-grey);
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 300;
    line-height: 138%;
}

.feedback-info form label .input-label {
    display: block;
    margin: 34px 0 16px;
    color: var(--color-white);
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
}

.feedback-info form label textarea {
    width: 540px;
    border: none;
    border-bottom: 1px solid var(--color-white);
    background-color: transparent;
    color: var(--light-grey);
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
}

.feedback-info form button {
    margin-left: auto;
    margin-top: 50px;
    padding: 18px;
    font-size: 18px;
    width: 270px;
}

/* footer-info-main */

.footer-info-main {
    background-color: var(--background-header-color);
    padding: 50px 0;
}

.footer-info-main-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-info-main .footer-info-main-wrapper p {
    color: var(--color-black);
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 300;
    line-height: 138%;
}

/* popap */

.popap {
    /*position: fixed;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.70);;
}

.popap .popap-form {
    background-color: var(--color-black-5);
    box-sizing: border-box;
    width: 732px;
    height: 636px;
    margin: 112px 0 174px;
    padding: 56px 94px 70px;
}

.popap .popap-form p {
    color: var(--color-white);
    font-family: 'Merriweather';
    font-size: 48px;
    font-weight: 900;
    line-height: 144.555%;
    margin-bottom: 64px;
    text-align: center;
}

.popap .popap-form .popap-name {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.popap .popap-form label {
    display: flex;
    flex-direction: column;
}

.popap .popap-form .popap-info {
    display: flex;
    justify-content: space-between;
    gap: 34px;
}

.popap .popap-form .popap-info fieldset legend {
    color: var(--color-white);
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
    line-height: 138%;
    padding: 18px 0 32px;
}

.popap .popap-form .popap-info fieldset .radio-input {
    display: flex;
    justify-content: space-between;
}

.popap .popap-form label .input-label {
    margin: 18px 0 16px;
    color: var(--color-white);
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 400;
}

.popap .popap-form label input {
    padding: 15px 0;
    border: none;
    border-bottom: 1px solid var(--color-white);
    background-color: transparent;
    color: var(--light-grey);
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 300;
    line-height: 138%;
}

.popap .popap-form label textarea {
    width: 540px;
    border: none;
    border-bottom: 1px solid var(--color-white);
    background-color: transparent;
    color: var(--light-grey);
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
}

.popap .popap-form button {
    align-items: center;
    margin-top: 34px;
    padding: 18px;
    font-size: 18px;
    width: 270px;
}







